# Aether Large Files
data/
models/
*.parquet
*.vocab
*.model

# Python
__pycache__/
*.py[cod]

# Electron / Backend
/backend/__pycache__/
/backend/cookie.json
/envjarvis
contact.csv
jarvis.db
/electron/dist/
/electron/out/
/electron/*.log
*.log
*.tmp
*.exe
/electron/node_modules/
/backend/node_modules/

# DVC
.dvc/cache
.dvc/tmp
